h1 {
    color: blue;
}
.abc {
    color: red;
}
.abc2 {
    color: purple;
}
.abc3 {
    color: yellow;
}
.abc4 {
    color: brown;
}
.abc5 {
    color: blueviolet;
}
.abc6 {
    color: pink;
}
.demo1 {
    color: burlywood;
}
.demo2 {
    color: blue;
}
.demo3 {
    color:peru
}
p {
    color: greenyellow;
}
#demo1 {
    color: black;
}